* {
  min-height: 0;
  font-family: JetBrainsMono NF ExtraBold;
  font-size: 14px;
  font-weight: 500;
  padding: 1;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(37, 24, 34, 0.8);
  border-radius: 5;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 8px;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #f4cdf1;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #fa89d2;
}

#workspaces button.urgent {
  background-color: #df667e;
}

#workspaces button.focused {
  background-color: #9f718e;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-music-player,
#cpu,
#tray,
#memory,
#window,
#custom-screen-recorder,
#custom-gpu {
  min-height: 0;
  padding: 2px 10px;
  border-radius: 8px;
  margin: 4px 4px;
  /* background-color: #181825; */
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #ffafdf;
  margin-left: 0;
  margin-right: 0;
}

#custom-gpu {
  color: #ffafdf;
  margin-left: 0;
  margin-right: 0;
}

#memory {
  margin-left: 0;
  color: #ffafdf;
}

#disk {
  color: #ffafdf;
}

#clock {
  color: #ffafdf;
}

#clock.simpleclock {
  color: #ffafdf;
}

#window {
  color: #ffafdf;
}

#pulseaudio {
  color: #ffafdf;
}

#pulseaudio.muted {
  color: #ffafdf;
}

#custom-logo {
  color: #ffafdf;
}

#custom-power {
  color: #ffafdf;
  padding-right: 5px;
  font-size: 14px;
}

@keyframes blink {
  to {
      background-color: #f38ba8;
      color: #181825;
  }
}

tooltip {
  border-radius: 8px;
}

#tray menu {
  background: rgb(24, 24, 37);
  color: #ffafdf;
}
